header {
  padding-top: 15%;
}

.nav-list {
  display: grid;
  grid-auto-columns: 30px;
  grid-auto-flow: column;
  grid-gap: 40px;
  margin: auto;
  text-align: center;
  width: fit-content;
  div {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 20px;
    height: 30px;
    line-height: 28px;
    cursor: pointer;
  }
}
