<nav>
  <ul>
    <li class="current"><a href="#first">1</a></li>
    <li><a href="#second">2</a></li>
    <li><a href="#third">3</a></li>
    <li><a href="#forth">4</a></li>
    <li><a href="#fifth">5</a></li>
  </ul>
</nav>